.features__elements{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0 0 108px 0;
  margin: 0;
  width: 100%;
}
@media screen and (max-width: 1169px) {
  .features__elements{
    padding-bottom: calc(52px + (100vw - 375px) / (1170 - 375) * (108 - 52));
  }
}

@media screen and (max-width: 1050px) {
  .features__elements{
    justify-content:center;
    column-gap: 10%;
    row-gap: 48px;
  }
}
