.features__title{
  margin-top: 92px;
  margin-bottom: 60px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

@media screen and (max-width: 1169px) {
  .features__title{
    font-size: calc(20px + (100vw - 375px) / (1170 - 375) * (32 - 20));
    line-height: calc(30px + (100vw - 375px) / (1170 - 375) * (48 - 30));
    margin-top: calc(51.6px + (100vw - 375px) / (1170 - 375) * (92 - 51.6));
    margin-bottom: calc(30px + (100vw - 375px) / (1170 - 375) * (60 - 30));
  }
}
