.header__menu-items{
  font-family: poppins;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  transition: opacity 0.1s;
  color: #fff;
}

.header__menu-items:hover{
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 1169px) {
  .header__menu-items{
    font-size: calc(14px + (100vw - 375px) / (1170 - 375) * (17 - 14));
  }
}
