.values__dt_vol{
 padding-top: 31px;
 justify-content: right;
 flex-wrap: wrap;
}

@media screen and (max-width: 600px){
  .values__dt_vol{
    padding: 0;
    max-width: 275px;
    width: 100%;
  }
}
