.header{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  background-image: url('../../image/Header@2x.png');
  background-position: bottom;
  background-size: cover;
  min-height: 700px;

}
