.header__btrade{
  grid-area: header__btrade;
  font-family: poppins;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: #fff;
  border: 2px solid rgba(235, 87, 87, 1);
  border-radius: 50px;
  width: 152px;
  height: 47px;
  transition: opacity 0.1s;
  justify-self: end;
  margin-top: 8px;
}

.header__btrade:hover{
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 1169px) {
  .header__btrade{
    width: calc(110px + (100vw - 375px) / (1170 - 375) * (152 - 110));
    font-size: calc(14px + (100vw - 375px) / (1170 - 375) * (17 - 14));
    height: calc(31px + (100vw - 375px) / (1170 - 375) * (47 - 31));
  }
}

@media screen and (max-width: 570px){
  .header__btrade{
    display: none;
  }
}
