.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #1B004E;
  color: #fff;
  min-width: 195px;
  overflow: hidden;
  justify-items: center
}



