*{outline: 1px solid green;}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #1B004E;
  color: #fff;
  justify-items: center
}



