.cta__subtitle{
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 1169px) {
  .cta__subtitle{
    font-size: calc(14px + (100vw - 375px) / (1170 - 375) * (24 - 14));
    line-height:  calc(24px + (100vw - 375px) / (1170 - 375) * (28 - 24));
  }
}
