.news__item{
  background-color: #fff;
  border-radius: 10px;
  max-width: 368px;
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-template-rows: repeat(4,min-content);
  grid-template-areas:
  "news__image news__image news__image"
  "news__subtitle news__subtitle news__subtitle"
  "news__text news__text news__text"
  "news__block-capture news__block-capture news__block-capture";
}

@media screen and (max-width: 1169px) {
  .news__item{
    max-width: calc(343px + (100vw - 375px) / (1170 - 375) * (368 - 343));
  }
}
