.market__title{
  margin-top: 70px;
  margin-bottom: 60px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

@media screen and (max-width: 1169px) {
  .market__title{
    font-size: calc(20px + (100vw - 375px) / (1170 - 375) * (32 - 20));
    line-height: calc(24px + (100vw - 375px) / (1170 - 375) * (48 - 24));
    margin-top: calc(50px + (100vw - 375px) / (1170 - 375) * (70 - 50));
    margin-bottom: calc(30px + (100vw - 375px) / (1170 - 375) * (60 - 30));
  }
}
