.header__container{
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content min-content min-content min-content 23%;
  max-height: 100%;
  grid-template-areas:
   "header__logo header__navigation   header__btrade"
   "header__title  header__title ."
   "header__subtitle  header__subtitle ."
   "header__btget header__btget ."
   ". header__scroll . ";
  min-height: 700px;
  padding-top: 25px;
  position: relative;
}

@media screen and (max-width: 1169px){
  .header__container{
    padding-top: calc(42px + (100vw - 375px) / (1170 - 375) * (25 - 42));;
  }
}
@media screen and (max-width: 767px){
  .header__container{
  grid-template-rows: min-content min-content min-content min-content;
  }
}

@media screen and (max-width: 450px){
  .header__container{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header__logo header__logo header__burger"
   "header__title  header__title header__title"
   "header__subtitle  header__subtitle header__subtitle"
   ". header__btget .";
  }
}
