.header__btget{
  grid-area: header__btget;
  font-family: poppins;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  padding: 0;
  margin: 0;
  background-color: rgba(235, 87, 87, 1);
  border: 2px solid rgba(235, 87, 87, 1);
  color: #fff;
  border-radius: 50px;
  width: 191px;
  height: 47px;
  margin-top: 34px;
  transition: opacity 0.1s;
}

.header__btget:hover{
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 1169px) {
  .header__btget{
    width: calc(136px + (100vw - 375px) / (1170 - 375) * (191 - 136));
    font-size: calc(14px + (100vw - 375px) / (1170 - 375) * (17 - 14));
    height: calc(31px + (100vw - 375px) / (1170 - 375) * (47 - 31));
    margin-top: calc(20px + (100vw - 375px) / (1170 - 375) * (34 - 20));
  }
}


