.header__btget{
  grid-area: header__btget;
  font-family: poppins;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  padding: 0;
  margin: 0;
  background-color: rgba(235, 87, 87, 1);
  border: 2px solid rgba(235, 87, 87, 1);
  color: #fff;
  border-radius: 50px;
  width: 191px;
  height: 47px;
  margin: 32px auto auto 0 ;
  transition: opacity 0.1s;
}

.header__btget:hover{
  opacity: 80%;
  cursor: pointer;
}
